body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  width: 300px;
  height: 100px;
  background: url(../assets/slide.jpg);
  transition: background-position .5s;
}

.slide:hover {
  background-position: 0 -100px;
}