.card {
    float: left;
    width: 120px;
    height: 130px;
    margin: 20px;
    background-color: gray;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#btns {
    position: fixed;
    bottom: 100px;
}
