body {
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/rain.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.box h1 {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* need, absolute不会沾满一行 */
  width: 100%;
  text-align: center;

  font-size: 10em;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 15px 15px rgba(0, 0, 0, 1);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, .2);

  /* main: 叠加融合 */
  mix-blend-mode: overlay;
}