body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #262626;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skill_box {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skill_box p {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skill_box p:nth-child(2) {
    float: right;
    /* 调整位置，不将第一个p设置位float:left是为了保留其高度，防止坍塌 */
    position: relative;
    top: -2em;
}

.skill {
    background-color: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #0fffb7;
    border-radius: 2px;
}

.skill_level {
    background-color: #0fffb7;
    width: 100%;
    height: 10px;
}