<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Small Project</title>
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <nav class="clearfix">
      <div class="nav_box">
        <ul>
          <li><a class="look">查看</a></li>
        </ul>
      </div>
    </nav>
    <section id="menu">
      <h1>Small Project</h1>
      <ul>
        <!-- links -->
      </ul>
    </section>

    <script src="./index.js"></script>
  </body>
</html>
